.app h1{
    color: #e3e3e3;
    text-align: center;
}

.buttonsContainer{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

p{
    color: #e3e3e3;
    text-align: center;
    margin-top: 15px;
}

.app__input{
    margin-top: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    color: #e3e3e3;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    position: relative;
    background: #1a1a1a;
    margin-right: 10px;
    padding: 5px;
}
  
input[type="checkbox"]::before {
    content: '\2714';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: white;
    display: none;
}
  
input[type="checkbox"]:checked::before {
    display: block;
}
  

input[type="number"]{
    margin-left: 10px;
    background: #1a1a1a;
    color: #e3e3e3;
    border: #000;
    padding: 5px;
    border-radius: 5px;
}